.home-page {
    height: 100vh;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    background: linear-gradient(to bottom, #C40000 , #8B0000);
}