<div
  *ngIf="abierto"
  class="fixed inset-0 bg-black/50 flex items-center justify-center z-50"
>
  <div class="modal w-2/5 rounded-xl shadow-xl p-6 relative bg-white">
    <button
      (click)="close()"
      class="absolute top-2 right-2 text-white bg-red-600 rounded-full px-2 py-1"
    >
      ✕
    </button>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Escudo_UD.svg/2118px-Escudo_UD.svg.png"
         alt="" class="h-32 mx-auto mb-4">

    <h2 class="text-2xl font-bold mb-4 text-center">
      Prestamo de recurso con reserva {{reserva?.transaccion}}
    </h2>

    <form [formGroup]="prestamoForm" (ngSubmit)="procesarPrestamo()" class="space-y-4 text-center">

      <div class="">
        <p>Para continuar, digite su contraseña:</p>
        <input
        type="password"
        placeholder="Digite su contraseña"
        formControlName="password_user"
        class="w-full px-4 py-2 border rounded-lg shadow-sm 
                focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        />
      </div>
      <div class="flex justify-center">
        <button type="submit"
                class="w-24 bg-red-600 hover:bg-red-700 disabled:opacity-50 text-white py-2 rounded-full text-lg font-semibold"
                [disabled]="prestamoForm.invalid">
          Reservar
        </button>
      </div>
    </form>

  </div>
</div>
