<h1 class="text-center text-2xl m-4">Información del Usuario</h1>
<mat-tab-group>
    <mat-tab label="Información personal"> 
        <div class="border-red-400 w-5/6 m-auto justify-center rounded p-4">

            <img src="assets/user.svg" alt="" class="w-24 mx-auto">

            <form [formGroup]="usuarioForm" class="mt-4">

                <mat-form-field class="m-2 w-2/5">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre">
                </mat-form-field>

                <mat-form-field class="m-2 w-2/5">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="apellido">
                </mat-form-field>

                <mat-form-field class="m-2 w-2/5">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="correo">
                </mat-form-field>
            </form>

            <div class="mt-4 flex gap-4 justify-end">
                <button 
                    (click)="editando ? guardar() : editar()"
                    class="px-4 py-2 rounded bg-red-600 text-white">
                    {{ editando ? 'Guardar' : 'Editar' }}
                </button>
                <button 
                    *ngIf="editando"
                    (click)="cancelar()"
                    class="px-4 py-2 rounded bg-gray-300">
                    Cancelar
                </button>

            </div>
        </div>
    </mat-tab>

    <mat-tab label="Historial de reservas">
        <div class="w-3/5 text-center m-auto">
            <table mat-table [dataSource]="reservas" class="mat-elevation-z8">

                <!-- Número -->
                <ng-container matColumnDef="transaccion">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let r"> {{ r.transaccion }} </td>
                </ng-container>

                <!-- Estado -->
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let r"> {{ r.estado_actual.nombre_estado_transaccion }} </td>
                </ng-container>

                <!-- Recurso -->
                <ng-container matColumnDef="recurso">
                    <th mat-header-cell *matHeaderCellDef> Recurso </th>
                    <td mat-cell *matCellDef="let r"> {{ r.recurso.nombre_recurso }} </td>
                </ng-container>

                <!-- Fecha inicio -->
                <ng-container matColumnDef="inicio">
                    <th mat-header-cell *matHeaderCellDef> Inicio </th>
                    <td mat-cell *matCellDef="let r"> 
                        {{ r.fechas.fecha_inicio_transaccion | date:'short' }} 
                    </td>
                </ng-container>

                <!-- Fecha fin -->
                <ng-container matColumnDef="fin">
                    <th mat-header-cell *matHeaderCellDef> Fin </th>
                    <td mat-cell *matCellDef="let r"> 
                        {{ r.fechas.fecha_fin_transaccion | date:'short' }} 
                    </td>
                </ng-container>

                <!-- Responsable -->
                <ng-container matColumnDef="responsable">
                    <th mat-header-cell *matHeaderCellDef> Responsable </th>
                    <td mat-cell *matCellDef="let r">
                        {{ r.empleado_responsable ? 
                            (r.empleado_responsable.nombre + ' ' + r.empleado_responsable.apellido) 
                            : 'Sin asignar' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let r" class="flex justify-center">
                        <!-- Botón Editar: solo si estado es "Reservada" -->
                        <button 
                            *ngIf="r.estado_actual.nombre_estado_transaccion === 'Reservada'"
                            class="cursor-pointer bg-gray-300 hover:bg-red-700 hover:text-white p-2 m-2 rounded" 
                            (click)="editarReserva(r)">
                            Editar
                        </button>
                        <!-- Botón Calificar: solo si estado es "Completada" -->
                        <button 
                            *ngIf="r.estado_actual.nombre_estado_transaccion === 'Completada'"
                            class="cursor-pointer bg-gray-300 hover:bg-red-700 hover:text-white p-2 m-2 rounded" 
                            (click)="calificar(r)">
                            Calificar
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
    </mat-tab>
</mat-tab-group>
<app-editar-reserva-modal
[abierto]="modalEditarAbierto"
[reserva]="reservaSeleccionada"
(cerrar)="cerrarModal()"
(reservaActualizada)="getAllReservas()">
</app-editar-reserva-modal>

<app-encuesta-modal
[abierto]="modalEncuestaAbierto"
[reserva]="reservaSeleccionada"
(cerrar)="cerrarModal()">
</app-encuesta-modal>