<nav class="relative bg-white border-b-4 content-center">
  <div class="mx-auto max-w-7xl h-24 px-2 sm:px-6 lg:px-8 align-middle">
    <div class="flex h-16 items-center justify-between">

      <a routerLink="/inicio" class="flex flex-1 items-center justify-start">
        <img
          src="https://www.udistrital.edu.co/themes/custom/versh/logo.png"
          alt="Logo UD"
          class="h-16 w-auto mr-4"
        />
      </a>

      <div class="flex items-center space-x-4">

        <div class="hidden sm:block">
          <input
            type="text"
            placeholder="Buscar..."
            class="rounded-lg border border-gray-300 dark:border-gray-700 px-3 py-1.5
                   focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:text-black"
          />
        </div>

        <button type="button"
          class="rounded-full p-1 text-gray-600 dark:text-gray-300 hover:text-black dark:hover:text-black">
          <span class="sr-only">Buscar</span>
          <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 15.75 19.5 19.5M10.5 18a7.5 7.5 0 1 1 0-15 7.5 7.5 0 0 1 0 15z" />
          </svg>

        </button>

        <!-- Si no hay usuario, mostrar "Empezar ahora" -->
        <a *ngIf="!usuarioLogueado"
          (click)="abrirModal()"
          class="rounded-lg px-4 py-2 font-medium text-black cursor-pointer bg-red-500 hover:bg-red-600 hover:text-white">
          Empezar ahora
        </a>

        <!-- Si hay usuario, mostrar nombre y botón de logout -->
        <div *ngIf="usuarioLogueado" class="flex items-center space-x-3">
          <p class="text-sm text-gray-700">¡Hola de nuevo, {{  usuarioLogueado.nombre}} {{usuarioLogueado.apellido}}!</p>
          <button (click)="logout()"
                  class="rounded-lg px-4 py-2 font-medium text-white bg-red-700 hover:bg-red-600">
            Cerrar sesión
          </button>
        </div>

        <button *ngIf="usuarioLogueado && usuarioLogueado.id_tipo_usuario == 4" routerLink="/dashboard" class="rounded-lg px-4 py-2 font-medium text-white cursor-pointer bg-red-700 hover:bg-red-600">Ver recursos</button>
        <button *ngIf="usuarioLogueado && usuarioLogueado.id_tipo_usuario != 4" routerLink="/genera-prestamo" class="rounded-lg px-4 py-2 font-medium text-white cursor-pointer bg-red-700 hover:bg-red-600">Transacciones</button>
        <button *ngIf="usuarioLogueado" routerLink="/mi-perfil" class="rounded-lg px-4 py-2 font-medium text-white cursor-pointer bg-red-700 hover:bg-red-600">Mi perfil</button>
      </div>
    </div>
  </div>
</nav>

<app-inicio-sesion
  [abierto]="modalAbierto"
  (cerrar)="cerrarModal()"
></app-inicio-sesion>
