<div
  *ngIf="abierto"
  class="fixed inset-0 bg-black/50 flex items-center justify-center z-50"
>
  <div class="modal w-2/5 rounded-xl shadow-xl p-6 relative bg-white">

    <h2 class="text-2xl font-bold mb-4 text-center">
      Prestamo de recurso con reserva {{reserva?.transaccion}}
    </h2>
    <mat-tab-group>
        <mat-tab label="Devolución">
          <div class="flex justify-center" *ngIf="!devolucionCompletada">
            <p>Se realizará la devolución del recurso {{reserva?.recurso?.nombre_recurso}}, ¿es correcto?</p>
            <button class="m-2 bg-green-400 p-2 rounded" (click)="procesarDevolucion()">Si</button>
            <button class="m-2 bg-gray-400 p-2 rounded" (click)="close()">No</button>
          </div>
          <div class="flex justify-center" *ngIf="devolucionCompletada">
            <p>Se ha devuelto el recurso {{reserva?.recurso?.nombre_recurso}} correctamente.</p>
          </div>
        </mat-tab>
        <mat-tab label="Encuesta de saitsfacción">
            <survey [model]="surveyModel"></survey>
        </mat-tab>
    </mat-tab-group>

  </div>
</div>
